/.idea/
/phpmyadmin/
/phpmyadmin
/bitrix/backup/
/bitrix/backup
/upload/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/cache/
/bitrix/updates/
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/bitrix/license_key.php
/bitrix/html_pages/
/bitrix/site_checker_*.log
/bitrix/modules/*.log
/bitrix/modules/*.dat
/bitrix/tmp/
/bitrix/js/imopenlines_widget/

/local/vendor/
/logs/
/log/
/*.log
/test*/
/local/.phpunit.result.cache
/extranet/test*/
node_modules
*.tar.gz
*.tar
*.zip
